*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}

header{
    border-bottom: 1px solid rgb(228, 222, 222);
    margin-bottom: 16px;
    
}
.headertop{
    background-color: rgb(223, 221, 221);
   

}
#logo{
    font-size: 24px;
    font-weight: 700;
}
.container{
    width: 100%;
    max-width: 1320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
.headertop{
    padding-top: 4px;
    padding-bottom: 4px;
}
.headertop .container{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    font-size: 14px;
    
}
.headersecond{
    padding-top: 16px;
    padding-bottom: 16px;
    
}
.headersecondright{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
#menu
{
    background-color: transparent;
    border: none;
    color: green;
    
}
#menu span{
    font-size: 32px;
}

.headersecond .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}

.fruitsandvegetables{
    background-image:url(https://freshcart.codescandy.com/assets/images/banner/grocery-banner.png); 
}
.bakedbuns{
    background-image: url(https://freshcart.codescandy.com/assets/images/banner/grocery-banner-2.jpg);

}
.featuredcategory{
    padding: 48px 32px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 16px;
    margin-top: 16px;
    
}


.featuredcategory h3{ 
    font-size: 21.76px;
    margin-bottom: 4px;
    
}
.featuredcategoryspan{
    font-size: 14px;
    columns: rgb(92,92,92);
}
.featuredcategorypercentage{
    font-weight: 700;
}
.featuredcategory a{
    text-decoration: none;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 8px;
}
